/* Navbar */

*{
    margin:0;
    padding:0;
}

#logo{
    display:inline-block;
    position:absolute;
    width:80px;
    height:80px;
    left:90px;
    top:10px;
}

#navbar{
    position:absolute;
    left:250px;
    top:49px;
}
#home{
    width:40px;
    height:30px;
}
#navbar span{
    font-size:18px;
    padding:40px;
    font-family:'Lato',sans-serif;
    font-weight:bold;
}

#navbar span:hover{
    color:red;
    cursor:pointer;
}

.fa-user{
  position:absolute;
  right:40px;
  top:50px;
  background-color:black;
  width:42px;
  height:42px;
  border-radius:50%;
  font-size:22px;
  z-index:5;
  display:flex;
  align-items:center;  
  justify-content:center;
  color:white;
}

#login{
    position:absolute;
    right:105px;
    z-index:5;
    top:60px;
    font-family:'Lato',sans-serif;
    
}

#login a{
    text-decoration:none;
    color:black;
}
#button{
    position:relative;
    bottom:460px;
    right:290px;
    padding:5px;
    width:120px;
    height:40px;
    background-color:rgba(64,127,64,0.7);
    color:white;
    font-size:17px;
    border:0;
    font-family: Lato;
}

#button:hover{
    box-shadow: rgba(0, 0, 0, 0.19) 0px 10px 20px, rgba(0, 0, 0, 0.23) 0px 6px 6px;

}
.search-field{
    position:absolute;
    width:240px;
    height:40px;
    right:18em;
    top:55px;
    border:0.5px solid lightgrey;;
    border-radius:5px;
    padding:10px 35px 10px 15px;
    outline:none;
    z-index:1;
    background-color:rgba(150, 147, 147, 0.09);
}

.search-button{
    background-color:white;
    border:none;
    outline:none;
    position:absolute;
    right:18.6em;
    top:23px;
    font-size:22px;
    color:black;
    z-index:2;
}

.search-button i{
    width:20px;
    height:20px;
    object-fit:cover;
}
/* Main Section */

#about{
    background-color:rgba(77, 78, 77, 0.078);
    width:100%;
    text-align:center;
    margin-top:150px;
    color:black;
    padding-top:50px;
    padding-bottom:60px;
}

.heading{
    font-weight:bold;
    font-size:30px;
    font-family: 'Lato', sans-serif;
    position:relative;
}

#frame{
    position:relative;
    top:50px;
    right:22em;

}

#main-part-1{
    background-color:rgba(252, 254, 254,1);
    height:48em;
    margin-top:40px;
    margin-left:40px;
    margin-right:40px;
}
#para{
    background-color:rgba(236, 236, 244,1);
    position:relative;
    bottom:38em;
    left:53em;
    width:30em;
    height:40.8em;
    max-width:30em;
}

#para > p{
    top:50px;
}
p{
    font-size:20px;
    position:relative;
    text-align:center;
}

/* team section */

#team{
    margin-top:10px;
}

.members{
    width:24em;
    height:26em;
    background-color:aqua;
    border-bottom: 5px solid black;
    border-radius: 8px;
    position:relative;
    margin-top:50px;
    /* box-shadow:0 10px 15px -3px rgba(0,0,0,.1),0 4px 6px -4px rgba(0,0,0,.1); */
}

.members:hover{
    height:26.4em;
    width:24.4em;
    transition-duration:.3s;
}
.members > img{
    width: 140px;
    height:140px;
    border-radius:50%;
    position:relative;
    left:28%;
    top:40px;
}

#member1{
    position:relative;
    left:9em;
    bottom:0.3em;
}

#member2{
    position:absolute;
    left:35.6em;
    bottom:-55.8em;
}

#member3{
    position:absolute;
    bottom:-55.8em;
    right:8.5em;
}

#member4{
    position:absolute;
    left:9em;
}

#member5{
    position:absolute;
    left:35.6em;
}

#member6{
    position:absolute;
    right:8.5em;
}

.members > p{
    top:50px;
    right:2px;
    font-family: 'Bree Serif', sans-serif;
    font-weight: bold;
    color:black;
}

/* contanct-section */
#contact{
    position:relative;
    height:200px;
    top:37em;
}

#upper-part{
    display:flex;
    justify-content:space-evenly;
    background-color:rgba(0,0,0,0.7);
    height:150px;
    color:white;
    align-items:center;
}

.info{
    font-size:15px;
    font-family:'Lato',sans-serif;
}

#info1, #info2,#info3{
    position:relative;
    bottom:20px;
    left:35px;
}

#info1{
    left:10px;
}

#info3 span{
    padding-right:140px;
}
#info3{
    top:-15px;
    position:relative;
    padding-right:180px;
}
#div1 > input{
    width:16em;
    height:35px;
    background:none;
    color:white;
    border-width:0;
    border-bottom:1px solid white;
}

::placeholder{
    color:grey;
    font-size:15px;
}

#div1 > button{
    width:65px;
    height:35px;
    background:none;
    border:1px solid white;
    color:white;
    font-size:15px;
    font-weight:bold;
}

.app-image{
    position:relative;
    width:120px;
    height:40px;
    border:1px solid white;
    border-radius:6px;
    left:20px;
}

#phone{
    position:relative;
    left:7px;
    top:5px;
    width:14px;
    height:25px;
}
#info2{
    bottom:17px;
    text-transform:uppercase;
    font-size:12px;
    font-weight:bold;
}

#info3{
    text-transform:uppercase;
    font-size:13px;
}
#info4{
    position:relative;
    left:35px;
    bottom:20px;
}

/* lower-part */
#lower-part{
    display:flex;
    justify-content:space-evenly;
    background-color:rgb(140,141,148);
    padding:60px;
    color:white;
    list-style-type:none;
    font-family:'Lato',sans-serif;
}

#lower-part ul{
    list-style-type:none;
    margin-top:20px;
}
 
#lower-part ul li{
    padding-bottom:10px;
}

#lower-part ul li a{
    text-decoration:none;
    color:white;
    font-size:13px;
}

#lower-part ul li a:hover{
    color:rgb(230, 116, 248);
    transition:all 500ms ease;
}

#social-media{
    display:flex;
    justify-content:space-around;
    margin:90px;
}

#social-media div{
    font-family:'Lato',sans-serif;
    width:95px;
    text-transform:uppercase;
    font-size:14px;
}

#social-media div p{
    position:relative;
    padding-right:55px;
    left:55px;
    font-size:15px;
    bottom:50px;
    border-bottom:2px solid lightgrey;
}

#social-media div span{
    text-transform:none;
    width:1000px;
    font-size:12px;
    color:rgb(199, 182, 182);
    position:relative;
    left:50px;
    bottom:40px;
}

#connect{
    width:14em;
}

#connect p{
    font-size:15px;
}
#media{
    position:relative;
}

#social-media-icons{
    display:flex;
    margin-top:10px;
    justify-content:space-around;
}

#social-media-icons i{
    font-size:20px;
}

/*last */
#last{
    background-color:rgb(232,0,113);
    height:100px;
    display:flex;
    justify-content:center;
    position:relative;
    font-family:'Lato',sans-serif;
    bottom:40px;
    color:white;
}

#last p{
    padding:20px;
    font-size:13px;
}

#copyright{
    position:relative;
    bottom:80px;
    left:48em;;
    font-size:13px;
    color:white;
    font-family:'Lato',sans-serif;
}
